@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

#nav_main::-webkit-scrollbar {
  display: none;
}

.category-icon::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: white;
}

.category-icon:hover::after {
  background-color: lightgray;
}
