@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

svg {
  shape-rendering: geometricprecision;
  text-rendering: optimizeLegibility;
}
